* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container {
    width: 1360px;
    margin: 0 auto;
}

/* navbar section start*/
#navbar {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    align-items: center;
}

#navbar li {
    list-style-type: none;
}

#navbar .logo {
    width: 139px;
    height: 60px;
}

#navbar .menu a {
    text-decoration: none;
    color: #000000;
}

#navbar .menu {
    display: flex;
    gap: 32px;
    align-items: center;
    font-weight: 500;
    line-height: 152%;
}

.btn {
    /* height: 44px;
    width: 164px; */
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #30B868;
    border: 2px solid #30B868;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    transition: all .5s ease;
}

.btn:hover {
    background-color: #ffffff;
    color: #30B868;
    border: 2px solid #30B868;
}

/* navbar section end */

/* hero section start */
#hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.275)),
        url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;    
    text-align: center;
    padding: 70px 120px 134px 120px;
}

#hero .btn2 {
    width: 259px;
    /* height: 35px; */
    gap: 6px;
    padding: 8px 12px;
    color: #30B868;
    background-color: #ffffff;
    margin: 0px auto;
    border: none;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .btn2 p {
    color: #469165;
    font-weight: 500;
}

#hero h1 {
    font-size: 72px;
    font-weight: 700;
    color: #ffffff;
    line-height: 84px;
    padding: 16px 0;
    text-transform: capitalize;
}

#hero h1 span {
    color: #30B868;
}

#hero p {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 300;
}

.btn-hero {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}

.hero-btn {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #30B868;
    border: 2px solid #30B868;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    transition: all .5s ease;
}

.hero-btn:hover {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #30B868;
}

.hero-btn2 {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    transition: all .5s ease;
}

.hero-btn2:hover {
    background-color: #30B868;
    border: 1px solid #30B868;

}

/* hero section end */

/* card section start */
.card-section .title h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-top: 60px;
    text-transform: capitalize;
    color: #001931;
}

.card-section .title p {
    text-align: center;
    line-height: 20px;
    color: #627382;
    margin: 16px auto 44px auto;
}

.card-flex {
    display: flex;
    gap: 24px;
}

.card-box .card {
    width: 322px;
    height: 300px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    border-radius: 8px;
    gap: 16px;
    /* margin-bottom: 120px; */
}

.card-box .card .image {
    background-color: #F95555;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-box .card h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}

.card-box .card p {
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #627382;
}

/* card section end */

/* solution section start */
#solution {
    display: flex;
    align-items: center;
    gap: 60px;
    margin: 120px auto;
}

/* #solution .image img{
    width: 600px;
    height: 600px;
} */

#solution .content h4 {
    color: #30B868;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
}

#solution .content h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: #001931;
    margin: 20px 0;
}

#solution .content p {
    color: #627382;
    line-height: 25px;
}

#solution .content ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 40px;
}

#solution .content li {
    display: flex;
    gap: 6px;
}

/* solution section end */