* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.container {
    width: 1360px;
    margin: 0 auto;
}

/* navbar section start*/
#navbar {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    align-items: center;
}

#navbar li {
    list-style-type: none;
}

#navbar .logo {
    width: 139px;
    height: 60px;
}

#navbar .menu a {
    text-decoration: none;
    color: #000000;
}

#navbar .menu {
    display: flex;
    gap: 32px;
    align-items: center;
    font-weight: 500;
    line-height: 152%;
}

.btn {
    /* height: 44px;
    width: 164px; */
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #30B868;
    border: 1px solid #30B868;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 600;
}

.btn:hover {
    background-color: #ffffff;
    color: #30B868;
    border: 1px solid #30B868;
}

/* navbar section end */